.main-wrap{
    grid-area: main;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.main-categoty {
    height: 73px;
    justify-content: center;
    margin-top: 16px;
    cursor: pointer;
}

.main-categoty span {
    border: 1.5px solid darkgrey ;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    margin: 0 4px 0 4px;
    background-color: #cac9cb;
}

.main-categoty span:first-child {
    background-color: orange;
    border: 1.5px solid orange ;
    color: #fff;
}

.main-categoty span:hover {
    background-color: gray;
}


.main-slider {

}

.main-video {

}

.footer-wrap{

}