.header-wrap {
    position: fixed;
    left: 0;
    width: 100vw;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgb(0 0 0 / 10%);
}

.header-logo {
    display: inline-block;
    justify-content: flex-start;
    margin-left: 16px;
    cursor: pointer;
}

.header-img {
    height: 30px;
    display: inline-block;
}

h2 {
    color: orange;
    display: inline-block;
}

.header-search {
    display: flex;
    display: inline-block;
    justify-content: center;
    cursor: pointer;
}

.searchinput {
    display: inline-block;
    border: 1px solid black;
    border-right: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    width: 250px;
}

.searchinput:focus{
    border: 2px solid blue;
}

.searchbtn {
    display: inline-block;
    margin-left: -5px;
    border: 1px solid black;
    color: gray;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.micbtn {
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    background: none;
}

.fa-microphone {
    color: gray;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    cursor: pointer;
}

.bellbtn {
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    background: none;
}

.fa-bell {
    color: gray;
}

.dropbtn {
    background-color: orange;
    height: 24px;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
    float: left;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 12px;
    border-bottom: solid 1px gray;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}

.dropdown-content a:last-child{
    color: red;
    border: none;
}

.fa-sign-out-alt {
    color: red;
}

@media (max-width: 1024px) {
    .searchinput {
        width: 200px;
    }
}

@media (max-width: 752px) {
    .searchinput {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .searchinput {
        width: auto;
    }
}