* {
  font-family: 'Trebuchet MS', sans-serif;
  color: #202020;
}

body { 
  display: grid;
  grid-template-areas: 
    "header header"
    "article main";
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: minmax(64px, 240px) 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}




.main-wrap { 
  grid-area: main; 
  /* height: 1000px; */

}

.footer-wrap {
  grid-area: footer;
}