.users-wrap {
    grid-area: article;
    background-color: #cac9cb;
    position:fixed;
    top: 70px;
    height: calc(100vh - 70px); 
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.user-content {
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 0 16px;
    cursor: pointer;
}

.user-content:hover {
    background-color: #bfbfbf;
}

.user-block {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-avatar {
    display: inline-block;
    justify-content: flex-start;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.user_name {
    margin-left: 10px;
}

.user_name:hover {
    color: blue;
}

.follow-block {
    display: inline-block;
    display: flex;
    align-items: center;
    height: 32px;
}

.user-live {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #ff69b4;
    animation: pulse 1500ms infinite;
    margin: 6px;
}

.user_followers {
    display: inline-block;
    justify-content: flex-end;
}

@keyframes pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 6px;
    }
}

.info-block {
    display: flex;
    align-content: flex-end;
    border-top: 1px solid white;
    
}

.social-block {
    height: 50px;
    margin: 16px;
    padding: 6px;
    background-color: #9b9a9c;
}

.social-info {
    display: block;
    text-align: center;
}

.social-info::selection {
    color: white;
    background-color: orange;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
}

.fa-telegram:hover, .fa-instagram:hover, .fa-facebook:hover {
    color: blue;
}

@media (max-width: 1024px) {
    .info-block, .user_name, .follow-block {
        visibility: hidden;
    }

    .users-wrap {
        width: 64px;
    }    
}